.Maindiv { 
    width: 60%;
    height: 100%;
    display: flex;
    background-color: #2b6777;
}

.First{ 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divright { 
    width : 70%;
    border: solid 1px black;
    background-color: #c8d8e4
}
.divleft{ 
    width : 30%;
}
.divright1{ 
    width: 100%;
    height: 50%;
    border: solid 1px black;
    background-color:#c8d8e4;
}

.scrolldiv::-webkit-scrollbar {
    display: none;
}

.scrolldiv  {
    overflow-y: auto;
    overflow-x: none;
    height: 90%;
}
.divright2 {
    width: 100%;
    height: 50%;
    border: solid 1px black;
    background-color: #c8d8e4;
}

.divright1h4{ 
    color: black;
    padding-top: 10px;
}

.divright2h4{ 
    color : black;
    padding-top: 10px;
}

.MessageInfoo {
    width: 100%;
    height: 70px;
    text-align: left;
    background-color:#c8d8e4
}
.MessageInfoo:hover{ 
    background-color: #ffffff;
    cursor: pointer;
}

.MessageText{  
    padding: 5px;
}

.MessageTextIn{ 
    padding-left: 40px;
}

.n { 
    width: 100%;
    height: 300px;
}

.SendDiv{ 
    width: 80%;
    height: 450px;
    margin-top: 20px;
    margin-left: 80px;
    background-color: #f2f2f2;
}

.RepliesDiv::-webkit-scrollbar { 
    display: none;
}